* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 24px;
  font-weight: 1000;
  font-family: "Alumni Sans Pinstripe";
  font-style: normal;
  overflow-x: hidden;
}

.mainMain {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (2fr)[4];
  grid-template-columns: repeat(4, 2fr);
}
.mainMain > .emptyCont {
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 80%;
  background-color: #f9f9f9;
  -webkit-box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow-y: auto;
}

.mainMain {
  margin-left: 270px;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .mainMain {
    margin-left: 0;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.headerGrid {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (0.5fr)[2];
  grid-template-rows: repeat(2, 0.5fr);
  background-color: whitesmoke;
  border: 2px;
  border-style: dashed;
}
.headerGrid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.headerGrid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.headerGrid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.headerGrid > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.headerGrid > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.headerGrid > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.headerGrid > #results {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 2;
  grid-row: 2;
}
.headerGrid > .mainPageHeader {
  font-size: 68px;
  font-weight: 1000;
  font-family: "Alumni Sans Pinstripe";
  font-style: normal;
  margin-top: 5%;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
}
.headerGrid > .mainPageHeader > img {
  width: 60px;
}
.headerGrid form {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
  background-color: whitesmoke;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.headerGrid form input,
.headerGrid form textarea,
.headerGrid form select {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.headerGrid form input:focus,
.headerGrid form textarea:focus,
.headerGrid form select:focus {
  border-color: #007bff;
  outline: none;
}
.headerGrid form button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.headerGrid form button:hover {
  background-color: #0056b3;
}

.flexNavCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-column-align: right;
      justify-self: right;
  margin-right: 20px;
}
.flexNavCont > a > img {
  width: 40px;
  height: auto;
  -ms-grid-column: 3;
  grid-column: 3;
  margin-left: 40px;
}

.footerMain {
  font-size: 23px;
  font-weight: 1000;
  font-family: "Alumni Sans Pinstripe";
  font-style: normal;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
  grid-template-rows: repeat(3, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border: 3px;
  bottom: 0;
  width: 99.7%;
  margin: 0;
  border-style: dashed;
  margin-top: 20px;
}

.footerMain > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.footerMain > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.footerMain > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.footerMain > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.footerMain > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.footerMain > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.footerMain > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.footerMain > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.footerMain > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.footerMain > h3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  margin-top: 20px;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-bottom: 20px;
}
.footerMain > .getContact {
  margin-top: 20px;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -ms-grid-column-align: center;
      justify-self: center;
}

.suggestions {
  border: 1px solid #ccc;
  background-color: white;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  z-index: 10;
  width: calc(100% - 20px);
  margin-top: 5px;
  display: none;
}

.suggestion-item {
  padding: 8px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 10px;
}

button:hover {
  background-color: #3b80ca;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

button:active {
  background-color: #185290;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.catalog-block {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.catalog-block h2 {
  font-size: 24px;
}

#sortSelect {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
}

#loadMore {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 30px;
  width: 30%;
}

#loadMore:hover {
  background-color: #3b80ca;
}

.product-container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  row-gap: 40px;
  width: 100%;
}

.product-card {
  cursor: pointer;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (0.2fr)[6];
  grid-template-rows: repeat(6, 0.2fr);
  border: 2px dashed;
  border-radius: 5px;
  padding: 10px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.product-card:hover {
  border-color: #007bff;
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.product-image {
  width: 100%;
  height: 200px;
}

.product-name {
  font-size: 1.2em;
}

@media (max-width: 768px) {
  .headerGrid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .headerGrid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .mainPageHeader {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .flexNavCont {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-right: 0;
  }
  form {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  #results {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 4;
    grid-row: 4;
  }
  .product-container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .product-card {
    -ms-grid-rows: (auto)[6];
    grid-template-rows: repeat(6, auto);
  }
  .footerMain {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    margin-top: 20px;
  }
  .footerMain > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .footerMain > h3 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .footerMain > .getContact {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
}
@media (max-width: 480px) {
  .headerGrid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .headerGrid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .mainPageHeader {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .flexNavCont {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-right: 0;
  }
  form {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  #results {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 4;
    grid-row: 4;
  }
  .product-container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .product-card {
    -ms-grid-rows: (auto)[6];
    grid-template-rows: repeat(6, auto);
  }
  .footerMain {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    margin-top: 20px;
  }
  .footerMain > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .footerMain > h3 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .footerMain > .getContact {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
}